<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Философия Мануфактуры</title>
</head>
<body>
<!--Navigation bar-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="nav-placeholder"></div>
<script>
    $.get("/navbar", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
</script>
<br>
<!--end of Navigation bar-->
<h1>Философия Мануфактуры</h1>
<br>
<p>
    Философия мануфактур ориентировалась на принципы эффективного производства и деления труда.
    <br>
    Одной из ключевых идей было повышение качества и производительности товаров путем стандартизации и специализации процессов.
    <br>
    Мануфактуры верили, что масштабное производство при помощи опытных рабочих приведет к созданию лучших и более доступных продуктов.
    <br>
    Они также поддерживали идею социальной ответственности, обеспечивая работникам достойную оплату и условия труда.
    <br>
    Философия мануфактур ставила целью рост и процветание как для предприятия, так и для общества в целом.
    <br>
    Однако со временем мануфактуры стали считаться устаревшими, так как они не могли конкурировать с более механизированным производством на фабриках и заводах.
</p>
<br>
<br>
<!--footer bar-->
<div id="nav-placeholder-footer"></div>
<script>
    $.get("/footer", function(data){
        $("#nav-placeholder-footer").replaceWith(data);
    });
</script>
<br>
<!-- end footer bar-->
</body>
</html>