<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>История Мануфактуры</title>
</head>
<body>
<!--Navigation bar-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="nav-placeholder"></div>
<script>
    $.get("/navbar", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
</script>
<br>
<!--end of Navigation bar-->
<h1>История Мануфактуры</h1>
<br>
<p>
    Мануфактуры были одной из первых форм организации производства в истории. Они возникли в конце средних веков в Европе.
    <br>
    Мануфактуры представляли собой мастерские или маленькие предприятия, где товары создавались вручную при помощи простых инструментов.
    <br>
    В начале своего развития, мануфактуры были тесно связаны с ремеслами и отличались от них масштабом производства.
    <br>
    Процесс производства в мануфактуре был организован по принципу деления труда. Рабочие выполняли определенные операции над продуктом, а затем передавали его следующему рабочему.
    <br>
    С развитием мануфактур, производство стало более эффективным и масштабным. Товары производились на основе стандартных моделей, что позволяло увеличить их численность и качество.
    <br>
    Однако со временем мануфактуры были заменены фабриками и заводами, где производство стало осуществляться с использованием машин и паровой энергии.
    <br>
    Мануфактуры несмотря на свое ограниченное существование, оказали огромное влияние на развитие промышленности и заложили основы для будущих технологических прорывов.
</p>
<br>
<br>
<!--footer bar-->
<div id="nav-placeholder-footer"></div>
<script>
    $.get("/footer", function(data){
        $("#nav-placeholder-footer").replaceWith(data);
    });
</script>
<br>
<!-- end footer bar-->
</body>
</html>