<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
    <script>
        function filterAttributes(data) {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const filteredData = [];

            for (let i = 0; i < data.length; i++) {
                const obj = data[i];
                const filteredObj = {};

                for (let j = 0; j < checkboxes.length; j++) {
                    const checkbox = checkboxes[j];

                    if (checkbox.checked) {
                        const attribute = checkbox.name.replace('Enabled', '');
                        filteredObj[attribute] = obj[attribute];
                    }
                }

                filteredData.push(filteredObj);
            }

            return filteredData;
        }

        function displayTable(data) {
            // Получаем элемент таблицы со страницы
            var table = document.getElementById("table");

            // Очистка таблицы перед отображением новых данных
            table.innerHTML = "";

            // Создаем заголовок таблицы
            var thead = document.createElement("thead");
            var tr = document.createElement("tr");

            // Получаем поля из первого объекта списка данных
            if (data[0] !== null && data[0] !== undefined) {
                var fields = Object.keys(data[0]);
            } else {
                return;
            }


            // Создаем ячейки заголовка и добавляем их в строку заголовка
            fields.forEach(function(field) {
                var th = document.createElement("th");

                // Если поле имеет формат { "id": 1, "title": "Иванов И.И." }, берем значение из поля "title"
                if (field.charAt(0).toLowerCase() === "title") {
                    th.textContent = "title";
                } else {
                    th.textContent = field;
                }

                tr.appendChild(th);
            });

            // Добавляем строку заголовка в заголовок таблицы
            thead.appendChild(tr);

            // Добавляем заголовок таблицы в таблицу
            table.appendChild(thead);

            // Создаем тело таблицы
            var tbody = document.createElement("tbody");

            // Перебираем каждый объект в списке данных
            data.forEach(function(item) { // item - это объект продукта
                var tr = document.createElement("tr");

                // Перебираем поля объекта и создаем ячейки с соответствующими значениями
                fields.forEach(function(field) {
                    var td = document.createElement("td");

                    // Если поле имеет формат { "id": 1, "title": "Иванов И.И." }, берем значение из поля "title"
                    if (item.hasOwnProperty(field)) {
                        if (item[field].hasOwnProperty("title")) {
                            td.textContent = item[field]["title"];
                        } else {
                            td.textContent = item[field];
                        }
                    } else {
                        td.textContent = "-";
                    }

                    tr.appendChild(td);
                });

                // Добавляем строку с данными в тело таблицы
                tbody.appendChild(tr);
            });

            // Добавляем тело таблицы в таблицу
            table.appendChild(tbody);
        }

        function searchProducts() {
            var xhr = new XMLHttpRequest();

            var productType = document.getElementById("productType").value
            var deliveryType = document.getElementById("deliveryType").value
            var warrantyType = document.getElementById("warrantyType").value

            var path = '/api/search?'
            if (productType !== "0") path += "idProductType="+productType+"&";
            if (deliveryType !== "0") path += "idDeliveryType="+deliveryType+"&";
            if (warrantyType !== "0") path += "idWarrantyType="+warrantyType;
            console.log(path)

            xhr.open('GET', path, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    const filteredResponse = filterAttributes(response);
                    displayTable(filteredResponse);
                    document.getElementById('result3').value = JSON.stringify(filteredResponse, null, 4);
                    document.getElementById("countRecords").innerHTML = "Получено "+response.length+" продуктов"
                }
            };
            xhr.send();
        }
    </script>
    <style>
        textarea {
            width: 600px;
            height: 400px;
        }
    </style>
</head>
<body>
<!--Navigation bar-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="nav-placeholder"></div>
<script>
    $.get("/navbar", function (data) {
        $("#nav-placeholder").replaceWith(data);
    });
</script>
<br>
<!--end of Navigation bar-->


<h1>API текущего времени</h1>
Для любой мануфактуры крайне важно знать точное текущее время для <br>
контроля производственных процессов, поэтому я реализовал api на основе <br>
SSE (Server Sent Events), которое поддерживает текущее время по сети
<h3>GET /time-events</h3>
Current Time (Server Sent Events): <span id="time" th:text="${time}"></span>
<hr>
<br>

<h1>API выгрузки БД в виде файла (бэкап)</h1>
Для создания резервных копий крайне необходим API для получения файла с базой продуктов
<h3>GET /export/file</h3>
<button onclick="exportProducts()">Резервная копия БД</button>
<hr>
<br>

<h1>API поиска с возможностью выбрать атрибуты</h1>
<p>
    API для поиска продукта по типу и/или доставке и/или гарантии. <br>
    Все критерии передаются через query params. <br>
    Если нам не важен какой-то из критериев - его нужно просто не передавать. <br>
    <br>
    Этот функционал можно протестировать ниже. <br>
    Обратите внимание, что функционал "связанного" поиска не может быть здесь реализован, <br>
    так как вызывающая сторона может посылать любые параметры и сервер не в силах этому помешать. <br>
    API может вернуть пустой список!!!
</p>
<h3>GET /export/search?productType={1}&warrantyType={2}&deliveryType={3}</h3>
<table class="center" id="myTable">
    <thead>
    <tr>
        <th>Категория</th>
        <th>Поле выбора</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><label for="productType">Тип продукта:</label></td>
        <td>
            <select id="productType" name="productType">
                <option th:value="0">Любой</option>
                <option th:each="productType : ${productTypes}"
                        th:value="${productType.id}"
                        th:selected="${productType.id == idProductType}"
                        th:text="${productType.title}">
                </option>
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="deliveryType">Тип доставки:</label></td>
        <td>
            <select id="deliveryType" name="deliveryType">
                <option th:value="0">Любой</option>
                <option th:each="deliveryType : ${deliveryTypes}"
                        th:value="${deliveryType.id}"
                        th:selected="${deliveryType.id == idDeliveryType}"
                        th:text="${deliveryType.title}">
                </option>
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="warrantyType">Тип гарантии:</label></td>
        <td>
            <select id="warrantyType" name="warrantyType">
                <option th:value="0">Любой</option>
                <option th:each="warrantyType : ${warrantyTypes}"
                        th:value="${warrantyType.id}"
                        th:selected="${warrantyType.id == idWarrantyType}"
                        th:text="${warrantyType.title}">
                </option>
            </select>
        </td>
    </tr>
    </tbody>
</table>

<label for="idEnabled">ID</label>
<input type="checkbox" id="idEnabled" name="idEnabled" checked>
<label for="titleEnabled">Title</label>
<input type="checkbox" id="titleEnabled" name="titleEnabled" checked>
<label for="weightEnabled">Weight</label>
<input type="checkbox" id="weightEnabled" name="weightEnabled" checked>
<label for="dateEnabled">Date</label>
<input type="checkbox" id="dateEnabled" name="dateEnabled" checked>
<label for="warrantyPeriodEnabled">Warranty Period</label>
<input type="checkbox" id="warrantyPeriodEnabled" name="warrantyPeriodEnabled" checked>
<label for="productTypeEnabled">Product Type</label>
<input type="checkbox" id="productTypeEnabled" name="productTypeEnabled" checked>
<label for="productLineEnabled">Product Line</label>
<input type="checkbox" id="productLineEnabled" name="productLineEnabled" checked>
<label for="warrantyTypeEnabled">Warranty Type</label>
<input type="checkbox" id="warrantyTypeEnabled" name="warrantyTypeEnabled" checked>
<label for="deliveryTypeEnabled">Delivery Type</label>
<input type="checkbox" id="deliveryTypeEnabled" name="deliveryTypeEnabled" checked>
<br>
<button onclick="searchProducts()">Искать</button>
<label id="countRecords">Апи не вызывалась</label><br>
<textarea id="result3" readonly></textarea>
<hr>
<table DIR=LTR BORDER id="table"></table>

<br>
<br>
<br>
<br>
<!--footer bar-->
<div id="nav-placeholder-footer"></div>
<script>
    $.get("/footer", function (data) {
        $("#nav-placeholder-footer").replaceWith(data);
    });
</script>
<br>
<!-- end footer bar-->
</body>
<script th:inline="javascript">
    const eventSource = new EventSource('/time-events');
    eventSource.onmessage = function (event) {
        document.getElementById('time').innerHTML = event.data;
    };
</script>

<script>
    function exportProducts() {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/export' + '/file', true);
        xhr.responseType = 'blob';
        xhr.onload = function () {
            if (this.status === 200) {
                const blob = new Blob([this.response], {type: 'application/json'});
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                const contentName = xhr.getResponseHeader('Content-Disposition');
                const filename = contentName.substring(20);
                console.log(contentName)
                console.log(filename);
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            }
        };
        xhr.send();
    }
</script>
</html>