<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактор</title>
</head>
<body>
<style type="text/css">
    .empty_field {
          border-width: 2px;
          border-color: red; background-color : pink;
    }
</style>
<!--Navigation bar-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="nav-placeholder"></div>
<script>
    $.get("/navbar", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
</script>
<br>
<!--end of Navigation bar-->
<table>
    <tr>
        <td>
            <table DIR=LTR BORDER>
                <thead>
                <tr>
                    <th>Инструменты</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="text-align: center">
                        <a th:href="@{/editor/{id}(id=${firstId})}">
                            <button id="flash-back" title="К первому">
                                <img src="/images/flash-back.png" width="30" alt="к первому"/>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <a th:href="@{/editor/{id}(id=${prevId})}">
                            <button id="back" title="Назад">
                                <img src="/images/back.png" width="30" alt="предыдущий"/>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <button title="Сохранить" id="save" onclick="onClickSave()">
                            <img src="/images/img.png" width="30" alt="сохранить"/>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <a th:href="@{/editor/{id}(id=${nextId})}">
                            <button title="Вперёд" id="forward"><img src="/images/forward.png" width="30"
                                                                     alt="следующий"/></button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <a th:href="@{/editor/{id}(id=${lastId})}">
                            <button title="К последнему" id="flash-forward"><img src="/images/flash-forward.png"
                                                                                 width="30" alt="к последнему"/>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <a th:href="@{/editor/{id}(id=0)}">
                            <button id="new-product" class="carte">Новый продукт</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <button id="delete-product" class="carte" onclick="onClickDelete()">Удалить</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            <table>
                <tbody>
                <tr>
                    <td style="text-align: center">
                        <h1>Редактор продуктов</h1>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <p id="productID"><span th:text="${product.id}"></span></p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <label for="title">Название (с большой буквы или цифры)</label><br>
                        <input id="title" title="начните с большой буквы или цифры" name="title"
                               pattern="[A-ZА-Я0-9][a-zA-ZА-Яа-я0-9]{0,49}" required type="text"
                               th:field="${product.title}" oninput="checkTitle()"/>
                        <script>
                            function checkTitle(){
                                const titleElement = document.getElementById("title");
                                const titleValue = titleElement.value
                                if(/[A-ZА-Я0-9][a-zA-ZА-Яа-я0-9]{0,49}/.test(titleValue) === false || titleValue === ''){
                                    titleElement.className = 'empty_field'
                                }
                                else{
                                    titleElement.className = ''
                                }
                            }
                        </script>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <label for="weight">Вес товара (кг, от 0 до 50)</label><br>
                        <input id="weight" name="weight" type="number" required th:field="${product.weight}" min="0" max="50" oninput="checkWeight()"/>
                        <script>
                            function checkWeight(){
                                const weightElement = document.getElementById("weight");
                                const weightValue = weightElement.value
                                if((! /^\d+(\.\d+)*$/.test(weightValue)) || 0 > weightValue || weightValue > 50 || weightValue === ''){
                                    weightElement.className = 'empty_field'
                                    console.log("гавно")
                                } else{
                                    weightElement.className = ''
                                    console.log("заебись")
                                }
                            }
                        </script>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <label for="date">Дата</label><br>
                        <input id="date" name="date" type="date" required th:field="${product.date}"/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <label for="warrantyPeriod">Гарантийный период (мес от 0 до 60)</label><br>
                        <input id="warrantyPeriod" name="warrantyPeriod" type="number"
                               th:field="${product.warrantyPeriod}" min="0" max="60" required oninput="checkPeriod()"/>
                        <script>
                            function checkPeriod(){
                                const warrantyPeriodElement = document.getElementById("warrantyPeriod");
                                const warrantyPeriodValue = warrantyPeriodElement.value
                                if(0 > warrantyPeriodValue || warrantyPeriodValue > 50 || warrantyPeriodValue === ''){
                                    warrantyPeriodElement.className = 'empty_field'
                                }
                                else{
                                    warrantyPeriodElement.className = ''
                                }
                            }
                        </script>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <label for="productType">Тип продукта</label><br>
                        <select size="1" id="productType" name="productType">
                            <option th:value="0">Выбрать</option>
                            <option th:each="productType : ${productTypes}"
                                    th:value="${productType.id}"
                                    th:selected="${productType.id == product.productType.id}"
                                    th:text="${productType.title}">
                            </option>
                        </select>
                        <button title="Добавить" type="button"
                                onclick="onClickPlus('/miniCreate/productType', 'productType')">+
                        </button>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <label for="productLine">Директор линии</label><br>
                        <select size="1" id="productLine" name="productLine">
                            <option th:value="0">Выбрать</option>
                            <option th:each="productLine : ${productLines}"
                                    th:value="${productLine.id}"
                                    th:selected="${productLine.id == product.productLine.id}"
                                    th:text="${productLine.title}">
                            </option>
                        </select>
                        <button title="Добавить" type="button"
                                onclick="onClickPlus('/miniCreate/productLine', 'productLine')">+
                        </button>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <label for="deliveryType">Тип доставки</label><br>
                        <select size="1" id="deliveryType" name="deliveryType">
                            <option th:value="0">Выбрать</option>
                            <option th:each="deliveryType : ${deliveryTypes}"
                                    th:value="${deliveryType.id}"
                                    th:selected="${deliveryType.id == product.deliveryType.id}"
                                    th:text="${deliveryType.title}">
                            </option>
                        </select>
                        <button title="Добавить" type="button"
                                onclick="onClickPlus('/miniCreate/deliveryType', 'deliveryType')">+
                        </button>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <label for="warrantyType">Тип гарантии</label><br>
                        <select size="1" id="warrantyType" name="warrantyType">
                            <option th:value="0">Выбрать</option>
                            <option th:each="warrantyType : ${warrantyTypes}"
                                    th:value="${warrantyType.id}"
                                    th:selected="${warrantyType.id == product.warrantyType.id}"
                                    th:text="${warrantyType.title}">
                            </option>
                        </select>
                        <button title="Добавить" type="button"
                                onclick="onClickPlus('/miniCreate/warrantyType', 'warrantyType')">+
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
<!--footer bar-->
<div id="nav-placeholder-footer"></div>
<script>
    $.get("/footer", function(data){
        $("#nav-placeholder-footer").replaceWith(data);
    });
</script>
<br>
<!-- end footer bar-->
</body>
<script>
    async function onClickPlus(url, idSelect) {
        let title = prompt("Введите новое значение (с большой буквы или цифры):");
        if ((!/^[A-ZА-Я0-9][a-zA-ZА-Яа-я0-9]{0,49}$/.test(title)) || title === null || title === "") {
            alert("Введите правильное значение (с большой буквы или цифры)")
            return;
        }
        const res = await sendPostRequest(url, title);
        console.log(res)
        if (res == null) {
            alert("Неправильное значение - ответ сервера")
            return;
        }
        const select = document.getElementById(idSelect);
        clearSelectExcept0(select);
        addElementsToSelect(select, res)
        if (idSelect === "selectOptions") select.value = "0";
    }

    function clearSelectExcept0(selectEl) {
        const options = selectEl.querySelectorAll("option");
        for (let i = 0; i < options.length; i++) {
            if (options[i].value !== "0") {
                options[i].remove();
            }
        }
    }

    function addElementsToSelect(selectEl, res) {
        const myList = res.list
        myList.forEach(function (element) {
            const option = document.createElement("option");
            option.value = element.id;
            if (selectEl.id === "selectOptions") option.value = element.title
            option.text = element.title;
            if (res.selected.id === element.id) option.selected = true;
            selectEl.add(option);
        });
    }

    async function sendPostRequest(url, myTitle) {
        console.log("Функция вызвана")
        const data = {title: myTitle};

        try {
            const response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (response.ok) {
                const json = await response.json();
                return json;
            } else {
                throw new Error('Response not OK');
            }
        } catch (error) {
            console.error(error);
            return null;
        }
    }
</script>
<script>
    async function onClickDelete() {
        const accept = confirm("Хотите удалить эту запись?");
        if(accept===false) return;

        const idElement = document.getElementById("productID");
        const idValue = idElement.getElementsByTagName("span")[0].innerHTML;
        if (idValue === "0") return;
        const data = {
            id: idValue
        };
        const res = await sendDeleteRequest(data);
        window.location.href = '/editor';
    }
    async function sendDeleteRequest(data) {
        console.log("Функция удаления вызвана")
        try {
            const response = await fetch("/product/delete", {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (response.ok) {
                const json = await response.json();
                return json;
            } else {
                throw new Error('Response not OK');
            }
        } catch (error) {
            console.error(error);
            return null;
        }
    }
</script>
<script>
    async function onClickSave() {
        const accept = confirm("Хотите сохранить изменения?");
        if(accept===false) return;

        const idElement = document.getElementById("productID");
        const titleElement = document.getElementById("title");
        const weightElement = document.getElementById("weight");
        const dateElement = document.getElementById("date");
        const warrantyPeriodElement = document.getElementById("warrantyPeriod");

        const productTypeElement = document.getElementById("productType");
        const productLineElement = document.getElementById("productLine");
        const deliveryTypeElement = document.getElementById("deliveryType");
        const warrantyTypeElement = document.getElementById("warrantyType");

        const idValue = idElement.getElementsByTagName("span")[0].innerHTML;
        const titleValue = titleElement.value
        const weightValue = weightElement.value
        const dateValue = dateElement.value
        const warrantyPeriodValue = warrantyPeriodElement.value

        const productTypeIdValue = productTypeElement.value
        const productLineIdValue = productLineElement.value
        const deliveryTypeIdValue = deliveryTypeElement.value
        const warrantyTypeIdValue = warrantyTypeElement.value

        let fieldError = false;
        if(/[A-ZА-Я0-9]/.test(titleValue[0]) === false || titleValue === ''){
            fieldError = true
            titleElement.className = 'empty_field'
        }
        else{
            fieldError = false
            titleElement.className = ''
        }
        if(/^\d+(\.\d+)*$/.test(weightValue) === false || 0 > weightValue || weightValue > 50 || weightValue === ''){
            fieldError = true
            weightElement.className = 'empty_field'
        }
        else{
            fieldError = false
            weightElement.className = ''
        }

        if(0 > warrantyPeriodValue || warrantyPeriodValue > 50 || warrantyPeriodValue === ''){
            fieldError = true
            warrantyPeriodElement.className = 'empty_field'
        }
        else{
            fieldError = false
            warrantyPeriodElement.className = ''
        }
        if(dateValue === ''){
            fieldError = true
            dateElement.className = 'empty_field'
        }
        else{
            fieldError = false
            dateElement.className = ''
        }

        if(fieldError === true){
            alert("Проверьте правильность ввода данных!")
        }
        else{
            const data = {
                id: idValue,
                title: titleValue,
                weight: weightValue,
                date: dateValue,
                warrantyPeriod: warrantyPeriodValue,

                productType: productTypeIdValue,
                productLine: productLineIdValue,
                deliveryType: deliveryTypeIdValue,
                warrantyType: warrantyTypeIdValue,
            };

            const res = await sendSaveRequest(data);

            console.log(res)
            if (res == null) {
                alert("Возникла проблема с вашими полями")
                return;
            }
            console.log("reboot")
            window.location.href = '/editor/'+res.id;
        }
    }

    async function sendSaveRequest(data) {
        console.log("Функция сохранения вызвана")
        try {
            const response = await fetch("/product/save", {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (response.ok) {
                const json = await response.json();
                return json;
            } else {
                throw new Error('Response not OK');
            }
        } catch (error) {
            console.error(error);
            return null;
        }
    }
</script>
</html>