<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Помощь</title>
</head>
<body>
<!--Navigation bar-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="nav-placeholder"></div>
<script>
    $.get("/navbar", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
</script>
<br>
<!--end of Navigation bar-->
<h1>Помощь</h1>
<br>
<p>
    Данная БД была создана для хранения/редактирования информации о <br>
    продуктах на производстве, а также быстром поиске по параметрам <br>
    Использовалась информация, представленная в открытом виде, на сайте: <br>
    https://data.world/datafiniti/electronic-products-and-pricing-data <br>
    Работу выполнил студент группы ИВТ-Б20 - Офицеров Александр
</p>
Current Time (Server Sent Events): <span id="time" th:text="${time}"></span>
<!--footer bar-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="nav-placeholder-footer"></div>
<script>
    $.get("/footer", function(data){
        $("#nav-placeholder-footer").replaceWith(data);
    });
</script>
<br>
<!-- end footer bar-->
</body>
<script th:inline="javascript">
    const eventSource = new EventSource('/time-events');
    eventSource.onmessage = function(event) {
        document.getElementById('time').innerHTML = event.data;
    };
</script>
</html>