<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="/css/bar.css"/>
</head>
<body>
<div class="navbar">
    <a href="/">БД Мануфактура</a>
    <a href="/editor">Ввод</a>
    <a href="/search">Поиск</a>
    <a href="/statistic">Статистика</a>
    <a href="/help">Помощь</a>
    <a href="/export">Выгрузка БД</a>
</div>
<h1>Главная страница</h1>
<br>
<p>
    Данная БД была создана для хранения/редактирования информации о <br>
    продуктах на производстве, а также быстром поиске по параметрам <br>
    Использовалась информация, представленная в открытом виде, на сайте: <br>
    https://data.world/datafiniti/electronic-products-and-pricing-data <br>
    Работу выполнил студент группы ИВТ-Б20 - Офицеров Александр
</p>

</body>
</html>