<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta name="yandex-verification" content="7a251cb6c2e209e3" />
</head>
<body>
<!--Navigation bar-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="nav-placeholder"></div>
<script>
    $.get("/navbar", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
</script>
<br>
<!--end of Navigation bar-->
<h1>Главная страница</h1>
<br>
<p>
    Данная БД была создана для хранения/редактирования информации о <br>
    продуктах на производстве, а также быстром поиске по параметрам <br>
    Использовалась информация, представленная в открытом виде, на сайте: <br>
    https://data.world/datafiniti/electronic-products-and-pricing-data <br>
    Работу выполнил студент группы ИВТ-Б20 - Офицеров Александр
</p>

</body>
</html>