<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Партнеры</title>
</head>
<body>
<!--Navigation bar-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="nav-placeholder"></div>
<script>
    $.get("/navbar", function(data){
        $("#nav-placeholder").replaceWith(data);
    });
</script>
<br>
<!--end of Navigation bar-->
<h1>Наши партнёры</h1>
<hr>

<br> <br>

<p class="p">
    <img width="500px," src="/images/img_3.png" alt="dns"> <br>
    ООО "ДНС РИТЕЙЛ" - иагазин техники <br>
    Адрес: 690068, край Приморский, г Владивосток, проспект 100 лет Владивостоку, 155, 3, 5 <br>
    Телефон: +7 (423) 261-46-41 <br>
    Сайт: <a href="http://dns-shop.ru/">dns-shop.ru</a> <br>
</p>

<p class="p">
    <img width="500px," src="/images/img_4.png" alt="Ситилинк"> <br>
    ООО "Ситилинк" <br>
    г. Санкт-Петербург, проспект Кондратьевский, д. 50 литера А пом. 3-Н <br>
    Телефон: +7 (804) 010-01-01 <br>
    Сайт: <a href="https://www.citilink.ru//">citilink.ru</a> <br>
</p>
<br>
<br>
<!--footer bar-->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="nav-placeholder-footer"></div>
<script>
    $.get("/footer", function(data){
        $("#nav-placeholder-footer").replaceWith(data);
    });
</script>
<br>
<!-- end footer bar-->
</body>
</html>